.App {
  text-align: center;
  font-size: 40px;
  margin: 200px 0 200px 0;
  background-color: #9eefe1;
}

.button-wrapper {
  margin-top: 20px;
  padding-bottom: 20px;
  & button {
    margin-right: 10px;
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    border-color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(
      to right,
      #9eefe1 0%,
      #4830f0 51%,
      #9eefe1 100%
    );
    background-size: 200% auto;
  }
}
